fastapi
uvicorn
pandas
pydantic
requests
scikit-learn==1.6.1
python-multipart
pandas
scipy
sentence-transformers
pydantic
seaborn
matplotlib
markdown
numpy
langchain-groq
openpyxl
tabulate
gunicorn
RapidFuzz
langchain
pydantic
transformers
langchain_community
pypdf
psycopg2-binary
groq
python-multipart